@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;

    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;

    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;

    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    height: 100%;
    background-color: #F2F2F2;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
    flex-grow: 1;
}

h1, h2, h3, p {
    margin: 0;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    color: #000000;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}


/*Buttons*/


.button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 18px;

    background-color: #756157;
    border-radius: 4px;
    border: none;

    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-big {
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
}

.button-blue {
    background-color: #82B3D3;
}

.button-green {
    background-color: #7DB54F;
}

.button-no-color {
    background-color: transparent;
    border: 3px solid transparent;
}

.subscribe-button{
    border-radius: 0 4px 4px 0;
}

.button:hover, .button:focus-visible {
    background-color: #615048;
}

.button-blue:hover, .button-blue:focus-visible {
    background-color: #68A2CA;
}

.button-green:hover, .button-green:focus-visible {
    background-color: #6C9E42;
}

.button-no-color:hover {
    background-color: transparent;
    opacity: 0.6;
}

.button-no-color:focus-visible {
    background-color: transparent;
    border: 3px solid #83B3D3;
    outline: none;
}

.button:active, .button-blue:active, .button-green:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-no-color:active {
    background-color: rgb(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.3);
    border: 3px solid transparent;
}

.navigation-user-button {
    width: 160px;
}


/*Header*/


.navigation {
    display: flex;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 465px;
}

.navigation-user {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 70px;
}

.navigation-logo {
    margin-left: 70px;
    margin-right: 27px;
    margin-bottom: -10px;
    z-index: 1;
}

.navigation-item {
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.navigation-link {
    position: relative;
    padding: 19px 0;
}

.navigation-link-current::after {
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    content: "";
    border-bottom: 2px solid #756257;
    z-index: 1;
}

.navigation-user-item {
    position: relative;
    display: flex;
    width: 44px;
}

.navigation-user-item:not(:first-child) {
    margin-right: 20px;
}

.navigation-user-link {
    display: flex;
    padding: 21px 11.5px;
}

.count-badge {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 5px;
    top: 10px;
    background-color: #7DB54F;
    border-radius: 10px;

    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
}


/*Pages. Main*/


.hero {
    display: flex;
    justify-content: center;
    position: relative;

    background-color: rgb(132, 198, 231);
    background-image: url(../images/hero-background.jpg);

    width: 1200px;

    padding-top: 51px;
    padding-bottom: 82px;
}

.hero::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/hero-background-decor.jpg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0;
    content: "";
}

.hero-description-img {
    width: 458px;
    height: 352px;
    background: url('/images/hero-welcome.svg') no-repeat center;
}

.description{
    padding: 69px 70px;

    font-size: 22px;
    line-height: 26px;
}

.description-title {
    margin-bottom: 25px;
    letter-spacing: -0.1px;
}

.description-text {
    margin-bottom: 21px;
    letter-spacing: -0.1px;
}

/*Adventages*/

.adventages-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.adventages-item {
    width: 400px;
    box-sizing: border-box;
}

.adventages-description-image {
    width: 800px;
}

.adventage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 85px;
}

.adventages-title {
    position: relative;
    justify-content: center;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.adventage-blue .adventages-description {
    letter-spacing: -0.2px;
}

.adventages-item:not(.recommendation) .adventages-title {
    margin-bottom: 62px;
}

.adventages-item:not(.recommendation) > .adventages-title::after {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    background-color: rgb(0, 0, 0, 0.3);
    content: "";
}

.adventage-card > .adventages-title::after {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    background-color: rgb(255, 255, 255, 0.3);
    content: "";
}

.adventage-blue, .adventage-blue .adventages-title {
    display: flex;
    width: 100%;
    background-color: #82B3D3;
    color: #ffffff;
}

.adventage-light-grey {
    padding: 103px 85px 121px;
    background-color: rgba(131, 179, 211, 0.12);
}

.adventage-grey {
    padding: 103px 84px 121px;
    background-color: rgba(131, 179, 211, 0.2);
}

.adventages-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 75px;
}

.recommendation {
    padding: 77px 85px 80px;
}

.find-hotel {
    margin: 0 auto;
    padding: 96px 280px;
}

.find-hotel-title {
    margin-bottom: 21px;
}

.find-hotel-description {
    margin-bottom: 54px;

    font-size: 22px;
    line-height: 26px;
}


/*Pages.Catalog*/


.inner-header {
    padding-top: 35px;
    padding-bottom: 70px;
    margin-bottom: 50px;

    background: rgb(175, 128, 84) url(../images/catalog-filter-background.jpg) no-repeat;
    background-size: cover;

    color: #ffffff;
}

.inner-container {
    margin: 0 auto;
    width: 1060px;

    text-align: left;
}

.inner-header-title {
    margin-bottom: 7px;
    font-size: 60px;
    line-height: 78px;
}

/*Breadcrumbs*/

.breadcrumbs {
    display: flex;
    margin-bottom: 40px;
}

.breadcrumbs-item {
    margin-right: 10px;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 18.5px;
    background-image: url("/images/breadcrumbs-arrow.svg");
    background-repeat: no-repeat;
    background-size: 8px 11px;
    background-position: center right;
}

.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

/*Filters*/

.catalog-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-filter-group-1, .catalog-filter-group-2 {
    display: flex;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-group:not(:last-child) {
    margin-right: 70px;
}

.catalog-filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 191px;
}

.filter-button {
    margin-bottom: 31px;
}

.catalog-filter-title {
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-item {
    margin-bottom: 16px;
    line-height: 23px;
}

.catalog-filter-item:last-child {
    margin-bottom: 0;
}

/*Control*/
.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

/*Mark*/
.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-mark.radio  {
    border-radius: 50%;
}

.control:hover .control-mark,
.control:hover .control-label {
    opacity: 0.5;
}

.control-input:focus-visible + .control-mark {
    outline: 3px solid #83B3D3;
}

.control-input:active + .control-mark,
.control-input:active ~ .control-label {
    opacity: 0.3;
}

.control-input:disabled + .control-mark {
    opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 10px;

    background-image: url("/images/check-mark.svg");
    content: "";
}

.control-input[type="radio"]:checked + .control-mark::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    content: "";
}

/*Price range*/
.range-scale {
    position: relative;
    height: 4px;
    margin-top: 48px;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255);
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.range-toggle:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: 0;
}

.range-wrapper-inputs {
    position: relative;
    display: flex;
}

.range-price-input {
    width: 143px;
    padding: 12px 37px 12px 20px;
    border-radius: 0 4px 4px 0;
    background-color: #F2F2F2;
    font: inherit;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-align: left;
    border: 2px solid transparent;
    box-sizing: border-box;
    appearance: textfield;
}

.range-price-input:nth-child(2) {
    border-radius: 4px 0 0 4px;
    margin-right: 2px;
}

.range-price-input::-webkit-outer-spin-button,
.range-price-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-price-input:hover {
    background-color: #E6E6E6;
}

.range-price-input:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.range-price-input:active {
    border: 2px solid #000000;
    outline: none;
}

.price-min-field, .price-max-field {
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.range-price-label {
    position: absolute;
    padding: 12px 20px;
    color: rgb(0, 0, 0, 0.3);
}

.min-price-label {
    left: 86px;
}

.max-price-label {
    right: 0;
}


/*Hotels*/

.catalog-hotels {
    margin: 0 auto;
    width: 1060px;
}

/*Sorting*/
.sorting-container {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
}

.sorting-total {
    display: flex;
    align-items: center;
    margin-right: auto;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.select-control {
    position: relative;
    width: 292px;
    margin-right: 70px;
    padding: 14px 20px;
    padding-right: 50px;
    background-color: inherit;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-image: url("/images/select-control-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    font: inherit;
    appearance: none;
}

.select-control:hover, .select-control:focus-visible {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control:active {
    border: 2px solid #3F5E72;
}

.select-control:disabled {
    border: 2px solid rgb(0, 0, 0, 0.3);
    color: rgb(0, 0, 0, 0.3);
}

.sorting-view-list {
    display: flex;
}

.sorting-view-item:not(:last-child) {
    margin-right: 8px;
}

/*Hotels cards*/
.card-grid-toggle {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 14px;

    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.grid-toggle-cards {
    background-image: url('/images/sorting-icons/sorting-cards.svg');
}

.grid-toggle-column {
    background-image: url('/images/sorting-icons/sorting-column.svg');
}

.grid-toggle-list {
    background-image: url('/images/sorting-icons/sorting-list.svg');
}

.grid-toggle-active {
    border-color: #000000;
}

.card-grid-toggle:hover {
    border-color: #000000;
}

.card-grid-toggle:focus-visible {
    border-color: #68A2CA;
    outline: none;
}

.card-grid-toggle:active {
    border-color: #000000;
}

.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
    max-width: 1060px;
    margin-bottom: 80px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 212px auto auto 36px 37px;
    gap: 16px 20px;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;

    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel-card-link {
    grid-column: 1 / -1;
}

.hotel-card-img-link {
    grid-column: 1 / -1;
}

.hotel-card-image {
    object-fit: contain;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;

    color: #000000;
}

.hotel-card-type {
    text-align: start;
}

.hotel-card-cost {
    text-align: end;
}

.hotel-card-stars {
    width: 105px;
    height: 18px;
    background-image: url("/images/star.svg");
    background-repeat: space;
}

.four-stars {
    width: 85px;
}

.three-stars {
    width: 65px;
}

.two-stars {
    width: 45px;
}

.hotel-card-rating {
    grid-column: 2 / 3;

    padding: 8px 20px;
    background-color: #F2F2F2;
    border-radius: 4px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

/*Pagination*/
.pagination {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 70px;
}

.pagination::before {
    position: absolute;
    width: 1060px;
    top: -41px;
    content: "";
    border-bottom: 1px solid #E6E6E6;
}

.pagination-item {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: #82B3D3;
    border-radius: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.pagination-item:last-child {
    margin: 0;
}

.pagination-item-none {
    width: 60px;
    height: 60px;
    background-color: transparent;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #ffffff;
}

.pagination-current {
    border-radius: 4px;
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-item:not(.pagination-item-none):not(.pagination-current):hover {
    background-color: #68A2CA;
}

.pagination-item .pagination-link:focus-visible {
    background-color: #68A2CA;
    border-radius: 4px;
}

.pagination-item .pagination-link:not(.pagination-current):active {
    color: rgba(255, 255, 255, 0.3);
}

/*Notifications subscription section*/

.notifications-subscription {
    padding: 96px 258px 104px;
    max-width: 684px;
    background-color: #ffffff;
}

.notifications-subscription-description {
    margin-bottom: 54px;

    font-size: 22px;
    line-height: 26px;
}

.notifications-subscription-title, .notifications-subscription-title-main {
    margin-bottom: 21px;
}

.notifications-subscription-main {
    background: rgb(143, 203, 230) url(../images/subscribe-background.jpg) no-repeat top center;
    background-size: cover;

    color: #ffffff;
}

.notifications-subscription-main .notifications-subscription-title-main {
    color: #ffffff;
}

.notifications-subscription-form {
    display: grid;
    grid-template-columns: 452px 232px;
}

.email-field {
    width: 452px;
    border: 0;
    border-radius: 4px 0 0 4px;
    padding: 12px 20px;
    box-sizing: border-box;

    background-color: #F2F2F2;
    font: inherit;
    color: #000000;
    opacity: 0.6;
}

.email-field:hover {
    background-color: #E6E6E6;
}

.email-field:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.email-field:active {
    border: 2px solid #000000;
    outline: 3px solid transparent;
}

.notifications-subscription-form .email-field-main {
    background-color: #ffffff;
    opacity: 1;
}

.email-field-main:hover {
    background-color: #F2F2F2;
}


/*Footer*/


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    min-height: 50px;
    margin: 40px 70px 30px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    width: 142px;
}

.footer-socials-item {
    width: 47px;
}

.footer-socials-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.social-icon {
    color: #83B3D3;
}

.footer-socials-item-link:hover .social-icon {
    color: #68A2CA;
}

.footer-socials-item-link:focus-visible .social-icon {
    color: #68A2CA;
}

.footer-socials-item-link:active .social-icon {
    color: #68A2CA;
    opacity: 0.3;
}

.contacts-phone {
    margin: 30px;
    color: #000000;
    text-decoration: none;

    font-size: 40px;
    line-height: 40px;
}

.contacts-phone:hover, .contacts-phone:focus-visible {
    color: #756157;
}

.contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
    padding-top: 4px;
    color: #000;
}

.footer-logo-link:hover .footer-logo {
    color: #756157;
}

.footer-logo-link:focus {
    outline: none;
}

.footer-logo-link:focus-visible .footer-logo {
    color: #756157;
}

.footer-logo-link:active .footer-logo {
    color: rgba(117, 97, 87, 0.3);
}

/* Modal */

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
  }

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background-color: #ffffff;
    border-radius: 15%;
}

.modal-hotel-search {
    width: 717px;
    box-sizing: border-box;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 46px;
    right: 52px;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-button::before {
    position: absolute;
    top: 18px;
    right: 17px;
    width: 15px;
    height: 15px;
    background-image: url("/images/modal-icons/close.svg");
    content: "";
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    opacity: 0.5;
}

.modal-title {
    margin-bottom: 64px;
    text-align: left;
}

.hotel-search-form {
    display: flex;
    flex-direction: column;
}

.number-field-group-wrapper {
    display: flex;
    justify-content: space-between;
}

.field-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.hotel-search-label {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.label-icon {
    position: relative;
    padding-right: 10px;
}

.hotel-search-data-field {
    width: 440px;
}

.data-field::after {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    background-image: url("/images/modal-icons/calendar.svg");
    content: "";
}

.field-group.number-field {
    justify-content: flex-start;
    width: 247px;
}

.number-field-box {
    display: grid;
    grid-template-columns: 40px 33px 40px;
    margin-left: auto;
}

.field {
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;

    background-color: #F2F2F2;
    font: inherit;
    font-weight: 700;
    color: #000000;
}

.field:hover {
    background-color: #E6E6E6;
}

.field:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.field:active {
    border: 2px solid #000000;
    outline: 3px solid transparent;
}

.data-field-hint {
    position: absolute;
    bottom: -24px;
    left: 137px;
    padding: 0 20px;
    color: #333333;
    font-size: 16px;
    line-height: 21px;
}

.data-field-hint.error-past {
    color: #FF5757;
}

.hotel-search-number-field {
    grid-area: 1 / 1 / 2 / 4;
    padding: 14px 40px;
    text-align: center;
    appearance: textfield;
}

.number-field-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.3;
}

.minus {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
}

.plus {
    grid-area: 1 / 3 / 2 / 4;
}

.minus::before {
    display: block;
    width: 14px;
    height: 2px;
    background: url("/images/modal-icons/minus.svg") no-repeat center;
    content: "";
}

.plus::before {
    display: block;
    width: 14px;
    height: 14px;
    background: url("/images/modal-icons/plus.svg") no-repeat center;
    content: "";
}

.number-field-button:hover {
    opacity: 1;
}

.number-field-button:focus-visible {
    opacity: 1;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.number-field-button:active {
    opacity: 0.3;
}

.tooltip {
    display: flex;
    position: absolute;
    top: 0;
    right: -23px;
}

.tooltip-toggle {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 50%;
    background-color: #83B3D3;
    background-image: url("/images/modal-icons/info.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.tooltip-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 256px;
    margin-top: 15px;
    padding: 15px 18px 18px 22px;
    background-color: #333333;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.tooltip-text::after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 19px;
    height: 9px;
    background-image: url("/images/modal-icons/tongue.svg");
    content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}
